*{
    margin: 0;
    padding: 0;
}
footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
}
header{
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white; 
}
.image{
    max-width: 400px;
    border-radius: 8px;
    margin-right: 20px;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}
h1 {
    margin: 0;
    font-size: 2em;
}

.image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 8px;
}
.carac{
        max-width: 500px;
}
.carac p {
    font-size: 1.1em;
    color: #555;
}
.prix {
    color: #e74c3c;
    font-size: 1.5em;
    font-weight: bold;
}
h2 {
    color: #333;
}
.buy-button {
    background-color: #3498db;
    color: white;
    padding: 15px;
    font-size: 1.2em;
    border-radius: 5px;
    cursor: pointer;
}
.buy-button:hover {
    background-color: #2980b9;
}